.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  margin: auto;
  width: 100%;
}

.navbar-logo {
  position: absolute;
  top: 16px;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid #ffffff !important;
  border-radius: 30px !important;
  margin-top: -20px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25rem;
}

.navbar-links a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

.navbar-links .active {
  padding: 10px;
  border-radius: 12px;
}

.navbar-logins {
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 40px;
}

.btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  padding: 15px 20px 15px 20px;
}

.mobile-icon {
  visibility: hidden;
  cursor: pointer;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .navbar-logo {
    margin-left: -50px;
  }

  .navbar-logins {
    visibility: visible;
  }
}

@media (max-width: 540px) {
  .navbar-logo h2 {
    font-size: 21px;
  }

  .navbar-logo .logo-icon {
    width: 20px;
    height: 20px;
  }

  .mobile-icon .icon {
    width: 25px;
    height: 25px;
    top: 20px;
  }

  .mobile-icon {
    top: 15px;
  }
}
