.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.title h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 100%;
}

.title h1 .wave-hand-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

@media (max-width: 1600px) {
  .title {
    gap: 15px;
    margin-top: 100px;
  }

  .title h1 {
    font-size: 45px;
  }

  .title h1 .wave-hand-icon {
    width: 35px;
    height: 35px;
  }

  .title p {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .title h1 {
    font-size: 35px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .title h1 .wave-hand-icon {
    width: 30px;
    height: 30px;
  }

  .title p {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 360px) {
  .title h1 {
    font-size: 30px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .title h1 .wave-hand-icon {
    width: 25px;
    height: 25px;
  }

  .title p {
    font-size: 10px;
    line-height: 15px;
  }
}
